@media (360px<=width < 1024px) {
  .HeaderSection {
    inline-size: 100%;
    block-size: 80px;

    padding-inline: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0px;

    align-items: center;

    background-color: rgb(242, 242, 242);

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.292);

    z-index: 1000;

    transition: all ease-in-out 200ms;
  }

  .HeaderSection > .Logo {
    inline-size: 120px;
    block-size: 120px;

    background-color: rgb(3, 11, 28);

    scale: 0.8;

    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    mask-image: url("/Logo_Olivia_Bank.png");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    transition: scale ease-in-out 300ms;
  }

  .HeaderSection > .Menu_Icon {
    inline-size: 32px;
    block-size: 32px;

    background-color: rgb(3, 11, 28);
    mask-image: url("/icons/menu-icon.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    scale: 1;

    transition: scale ease-in-out 300ms;
  }

  /******************************hero_state******************************/

  .HeaderSection.hero_state {
    block-size: 160px;

    background-color: rgb(3, 11, 28);
    background-color: transparent;
    box-shadow: none;

    z-index: 1000;

    transition: all ease-in-out 200ms;
  }

  .HeaderSection.hero_state > .Logo {
    inline-size: 120px;
    block-size: 120px;
    background-image: url("/Logo_Olivia_Bank.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    scale: 1;

    transition: scale ease-in-out 300ms;
  }

  .HeaderSection.hero_state > .Menu_Icon {
    inline-size: 32px;
    block-size: 32px;

    background-color: rgb(204 169 132);
    mask-image: url("/icons/menu-icon.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    scale: 1;

    transition: scale ease-in-out 300ms;
  }
}
