@media (360px <= width <= 1024px) {
  .HeroSection {
    inline-size: 100%;
    block-size: 1280px;

    padding-inline: 4px;
    padding-block-start: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    overflow: hidden;
  }

  .HeroSection > .Decorator {
    inline-size: 100%;
    block-size: 400px;

    position: absolute;
    bottom: 0px;

    background-image: url("/hero-background.webp");
    background-size: 400%;
    background-repeat: no-repeat;
    background-position: center;

    filter: blur(0px) grayscale(40%) brightness(180%) contrast(100%);

    mix-blend-mode: soft-light;
    z-index: 0;
  }

  .HeroSection .HeroTitle {
    inline-size: 90%;
    text-align: center;
    position: static;
    margin-block-end: 80px;
  }

  .HeroSection .HeroTitle p {
    inline-size: 100%;
    font-size: 18px;
    line-height: 30px;

    font-weight: 400;

    color: rgb(204 169 132);
  }
  .HeroSection .HeroTitle h1 {
    inline-size: 100%;
    font-size: 42px;
    line-height: 62px;

    font-weight: 500;

    color: rgb(235, 232, 232);
  }

  .HeroSection .HeroTitle .Button {
    inline-size: 180px;
    block-size: 48px;

    margin-block-start: 12px;

    font: 20px;
    color: white;

    border: 3px solid white;
    border-radius: 32px;
  }
}
