.MapContainer {
  inline-size: 700px;
  block-size: 700px;
  position: relative;
  left: 200px;
  flex-shrink: 0;

  transform-origin: center;
  /* transform: scale(1.05); */
}

.MapContainer .Map {
  inline-size: 100%;
  block-size: 100%;
  mask-image: url("/mapa-mundo.png");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;

  background-color: rgb(220, 222, 231);
  mix-blend-mode: soft-light;
}

.MapContainer svg {
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.MapContainer svg .OutCircle {
  stroke: #957049;

  animation: pulse 1000ms ease-in-out infinite;
  transform-origin: center;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    opacity: 0;
    r: 20;
  }
  50% {
    opacity: 1;
    r: 30;
  }
  100% {
    opacity: 0;
    r: 20;
  }
}
