.TestView {
  block-size: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.TestView button {
  margin-inline: 4px;
  padding: 4px;
  color: white;
  background-color: black;
}
