.HeaderSection.Mini {
  inline-size: 100%;
  block-size: 160px;

  padding-inline: 40px;

  position: fixed;
  top: 0px;

  background-color: rgb(3, 11, 28);
  background-color: transparent;
  box-shadow: none;

  z-index: 1000;

  transition: all ease-in-out 200ms;
}

.HeaderSection.Mini .NavMenu {
  inline-size: 100%;
  block-size: 100%;
}

.HeaderSection.Mini .NavMenu ul {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;

  list-style: none;

  color: rgb(211, 213, 216);
}

.HeaderSection.Mini .NavMenu ul li {
  position: relative;
}

.HeaderSection.Mini .NavMenu ul li::after {
  content: "";

  inline-size: 110%;
  block-size: 3px;

  display: block;

  position: absolute;
  bottom: -4px;
  left: -5%;

  background-color: #d29253;
  border-radius: 4px;

  transform-origin: center;
  scale: 0;

  transition: all ease-in-out 400ms;
}

.HeaderSection.Mini .NavMenu ul li.selected {
  color: rgb(234, 237, 241);
}

.HeaderSection.Mini .NavMenu ul li.selected::after {
  scale: 1;
}

.HeaderSection.Mini .NavMenu ul li:last-of-type {
  padding: 12px;
  padding-inline: 20px;

  background-color: transparent;
  border: 2px solid #d29253;
  border-radius: 40px;

  position: absolute;
  right: 60px;

  color: #eac6a3;
  font-weight: 500;
}

.HeaderSection.Mini .Logo {
  inline-size: 120px;
  block-size: 120px;
  background-image: url("/Logo_Olivia_Bank.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  scale: 1;

  transition: scale ease-in-out 300ms;
}

/******************************Mini******************************/
.HeaderSection {
  inline-size: 100%;
  block-size: 80px;

  padding-inline: 40px;

  display: flex;

  position: fixed;
  top: 0px;

  align-items: center;

  background-color: rgb(233, 233, 233);

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.292);

  z-index: 1000;

  transition: all ease-in-out 200ms;
}

.HeaderSection .NavMenu {
  inline-size: 100%;
  block-size: 100%;
}

.HeaderSection .NavMenu ul {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;

  list-style: none;

  font-weight: 500;
  color: rgb(92, 96, 103);
}

.HeaderSection .NavMenu ul li {
  position: relative;
}

.HeaderSection .NavMenu ul li::after {
  content: "";

  inline-size: 110%;
  block-size: 3px;

  display: block;

  position: absolute;
  bottom: -4px;
  left: -5%;

  background-color: rgb(3 11 28);
  border-radius: 4px;

  transform-origin: center;
  scale: 0;

  transition: all ease-in-out 400ms;
}

.HeaderSection .NavMenu ul li.selected {
  color: rgb(42, 44, 49);
}

.HeaderSection .NavMenu ul li.selected::after {
  scale: 1;
}

.HeaderSection .NavMenu ul li:last-of-type {
  padding: 12px;
  padding-inline: 20px;
  border: 2px solid rgb(3 11 28);
  background-color: rgb(3 11 28);
  border-radius: 40px;

  position: absolute;
  right: 60px;

  color: rgb(205, 210, 222);
  font-weight: 500;
}

.HeaderSection .Logo {
  inline-size: 120px;
  block-size: 120px;

  background-color: rgb(3, 11, 28);

  scale: 0.8;

  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  mask-image: url("/Logo_Olivia_Bank.png");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  transition: scale ease-in-out 300ms;
}
