.PathSection {
  block-size: auto;
  padding-block-start: 520px;
  padding-block-end: 0px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #0f2027;
  overflow: hidden;
}

.PathSection .Cards {
  inline-size: 100%;

  padding-block-start: 0px;

  display: flex;
  flex-direction: column;
  gap: 0px;
}
.PathSection .Cards .CardContainer {
  inline-size: 100%;

  padding-block: 110px;

  position: relative;

  display: flex;
  justify-content: center;
  gap: 0px;

  flex-direction: row-reverse;
}

.PathSection .Cards .CardContainer .Content {
  inline-size: 440px;

  position: relative;
  z-index: 10;
}

.PathSection .Cards .CardContainer:nth-of-type(2n + 1) {
  background-color: #d5d5d5;
  flex-direction: row;
}

.PathSection .Cards .CardContainer h3 {
  margin-block-start: 4px;

  margin-block-end: 32px;
  font-size: 40px;
  line-height: 40px;
  color: #dcbc9b;
  font-weight: 500;
}

.PathSection .Cards .CardContainer:nth-of-type(2n + 1) h3 {
  color: #385966;
}

.PathSection .Cards .CardContainer p.SubTitle {
  font-size: 14px;
  color: rgb(194, 208, 217);

  font-style: italic;
}
.PathSection .Cards .CardContainer:nth-of-type(2n + 1) p.SubTitle {
  color: #46494e;
}

.PathSection .Cards .CardContainer p.Text {
  font-size: 20px;

  line-height: 42px;
  color: rgb(229, 234, 238);

  font-weight: 300;
}

.PathSection .Cards .CardContainer:nth-of-type(2n + 1) p.Text {
  color: #696d73;
}

.PathSection .Cards .CardContainer button {
  inline-size: 200px;
  block-size: 48px;

  margin-block-start: 40px;

  background-color: #385966;
  color: rgb(231, 235, 241);
  font-size: 16px;
  border-radius: 40px;
}

.PathSection .Cards .CardContainer .ImageContainer {
  inline-size: 500px;
  block-size: 360px;

  position: relative;
  flex-shrink: 0;

  z-index: 10;
}

.PathSection .Cards .CardContainer:nth-of-type(1) .ImageContainer {
  top: 40px;
}

.PathSection .CardContainer:nth-of-type(2) .ImageContainer {
}

.PathSection .CardContainer .Decorator {
  inline-size: 300px;
  block-size: 300px;

  position: absolute;
  right: 220px;
  bottom: 0px;
  mask-image: url("/sello.png");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  background-color: #eff0f1;
  z-index: 12;
}

.PathSection .CardContainer .DecoratorTwo {
  inline-size: 300px;
  block-size: 300px;

  position: absolute;
  right: -60px;
  bottom: 0px;

  border-radius: 12px;

  background-image: url("/postal.jfif");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.PathSection .CardContainer:nth-of-type(1) .DecoratorTwo {
  inline-size: 500px;
  block-size: 500px;

  position: absolute;
  right: 50px;
  bottom: 60px;

  background-image: url("/habana.png");

  z-index: 20;
}

.PathSection .CardContainer:nth-of-type(2) .DecoratorTwo {
  inline-size: 400px;
  block-size: 400px;

  position: absolute;
  left: 60px;
  right: auto;
  bottom: 0px;

  border-radius: 0px;

  background-image: url("/tasa-tablas-v2.png");

  z-index: 15;
}

.PathSection .CardContainer:nth-of-type(3) .DecoratorTwo {
  inline-size: 500px;
  block-size: 500px;

  position: absolute;
  left: 60px;
  right: auto;
  bottom: -120px;

  border-radius: 0px;

  background-image: url("/proceso.png");

  z-index: 15;
}

.PathSection .CardContainer .DecoratorThree {
  inline-size: 260px;
  block-size: 260px;

  position: absolute;
  right: 120px;
  bottom: 200px;

  border-radius: 12px;

  background-image: url("/postal-v2.jfif");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.PathSection .CardContainer:nth-of-type(1) .DecoratorThree {
  inline-size: 700px;
  block-size: 700px;
  position: absolute;
  right: -160px;
  bottom: -120px;
  background-image: url("/habana-v2.png");
}

.PathSection .CardContainer:nth-of-type(2) .DecoratorThree {
  inline-size: 260px;
  block-size: 260px;

  position: absolute;
  right: 360px;

  bottom: 140px;

  border-radius: 0px;

  background-image: url("/tasa-tablas.png");
}

.PathSection .CardContainer .DecoratorBottom {
  inline-size: 1000px;
  block-size: 100%;

  position: absolute;
  right: -120px;
  bottom: 0px;

  background-image: url("/Cuba.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: grayscale(100%) brightness(120%) blur(5px);

  border-radius: 40px;

  overflow: hidden;

  mix-blend-mode: overlay;
}

.PathSection .CardContainer:nth-of-type(2) .DecoratorBottom {
  right: auto;
  left: -120px;
  bottom: 0px;

  background-image: url("/tasa-envio.jpg");
}

.PathSection .CardContainer:nth-of-type(3) .DecoratorBottom {
  position: absolute;
  right: -120px;
  bottom: 0px;

  background-image: url("/transparente.jpg");
}

.PathSection .CardContainer .Icon {
  inline-size: 400px;
  block-size: 400px;

  background-color: #b2b5b7;

  mask-image: url("/icons/send.svg");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  position: absolute;

  left: -20px;
  top: 80px;
}

.PathSection .CardContainer:nth-of-type(2) .Icon {
  mask-image: url("/icons/payments.svg");

  left: auto;
  right: -100px;
  top: 100px;
}

.PathSection .CardContainer:nth-of-type(3) .Icon {
  mask-image: url("/icons/process.svg");

  left: -80px;
  top: 100px;
}
